<a href="https://colab.research.google.com/github/HaroldConley/diplomado_BD/blob/main/Clase3/Clase3_01_manipulacion_de_tablas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 2: Manipulación de tablas en R (Parte I)


**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales<br>
**E-mail ayudante:** rumorale1@gmail.com

## 1. Instalación de librerías

En esta sección aprenderemos a realizar operaciones simples de manipulación de tablas en R. Para ello trabajaremos con la librería _dplyr_, la cual cuenta con una gran variedad de funciones para manipular tablas, entre otras.


Una manera de instalar librerías en R es me diante la función `install.packages()`, la cual recibe como argunmento principal el nombre (enre comillas) de la librería que se desea cargar.

Una vez instalada la librería la debemos cargar en la sesión de trbajao, para lo cual podemos utilizar la función `library()` la cual recibe como argumento el nombre de la librería que se quiere cargar.

In [1]:
install.packages("tidyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
# 1. Instalación de package
# install.packages("dplyr") # No instalaremos la librería pues ya viene cargada en los notebooks de azure.Probablemente sea necesario hacerlo en su entorno local.
# Para cargar la librería
library("dplyr") # sin comillas también funciona

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## 2. Funciones básicas en dplyr

En todo proyecto analítico es necesario procesar, limpar y unificar disntintas fuentes de información para poder generar los análisis requeridos. Para dichas tareas, en la librería _dplyr_ contamos con funciones que nos permitirán filtrar datos, crear columnas, agrupar tablas, y cruzar tablas.

A continuación trabajaremos con la siguientes funciones:<br>

   `filter()`                        : Para filtrar los datos (por filas).<br>
   `arrange()`                       : Para ordenar un dataset.<br>
   `select()`                        : Para seleccionar y renombrar columnas.<br>
   `mutate()`                        : Para crear (o modificar) nuevas columnas basadas en columnas existentes.<br>
   `group_by()`                     : Para agrupar tablas.<br>
   `sample_n()` and `sample_frac()`  : Para generar muestras aleatorias<br>
   
   
Para entender el funcionamiento de estas funciones trabjaremos con el set de datos _nycflights13_, el cual contiene la información de los vuelos con salida en los aeropuertos de Nueva York en el año 2013.

## 3. Carga de datos

En R es posible cargar datos provenientes de archivos de texto plano. Un ejemplo de ellos son los de extensión *.csv (comma separated values). Para cargar los datos a la sesión, lo podemos realizar a través de la función `read.csv()`, la cual recibe como argumento principal la ruta del archivo a cargar.

In [3]:
getwd()

[1] "/content"

In [4]:
# Carga de datos ------
# Usaremos la función read.csv para cargar el archivo Datasets_flights.csv ubicado en "./Datasets/", y lo guardamos en una variable llamada vuelo.
vuelos <- read.csv('https://raw.githubusercontent.com/majorquev/DBDC_202206_Programacion_en_R_para_ciencia_de_datos/main/Clase3/Datasets/flights.csv')
head(vuelos)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [5]:
# Podemos inspeccionar los datos cargados
# Para ello son de utilidad las funciones head() y summary()
# ¿Cuántos registros tienen las tablas?
dim(vuelos)

[1] 336776     19

In [6]:
summary(vuelos)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute       time_hour
 Min.   : 0.00   Length:336776
 1st Qu.: 8.00   Class :character
 Median :29.00   Mode  :character
 Mean   :26.23
 3rd Qu.:44.00
 Max.   :59.00

In [7]:
#glimpse() o str()
str(vuelos)

'data.frame':	336776 obs. of  19 variables:
 $ year          : int  2013 2013 2013 2013 2013 2013 2013 2013 2013 2013 ...
 $ month         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ day           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ dep_time      : int  517 533 542 544 554 554 555 557 557 558 ...
 $ sched_dep_time: int  515 529 540 545 600 558 600 600 600 600 ...
 $ dep_delay     : int  2 4 2 -1 -6 -4 -5 -3 -3 -2 ...
 $ arr_time      : int  830 850 923 1004 812 740 913 709 838 753 ...
 $ sched_arr_time: int  819 830 850 1022 837 728 854 723 846 745 ...
 $ arr_delay     : int  11 20 33 -18 -25 12 19 -14 -8 8 ...
 $ carrier       : chr  "UA" "UA" "AA" "B6" ...
 $ flight        : int  1545 1714 1141 725 461 1696 507 5708 79 301 ...
 $ tailnum       : chr  "N14228" "N24211" "N619AA" "N804JB" ...
 $ origin        : chr  "EWR" "LGA" "JFK" "JFK" ...
 $ dest          : chr  "IAH" "IAH" "MIA" "BQN" ...
 $ air_time      : int  227 227 160 183 116 150 158 53 140 138 ...
 $ distance      : int  1400 1416 1089 1576 762 719 1065 229 944 733 ...
 $ hour          : int  5 5 5 5 6 5 6 6 6 6 ...
 $ minute        : int  15 29 40 45 0 58 0 0 0 0 ...
 $ time_hour     : chr  "2013-01-01 05:00:00" "2013-01-01 05:00:00" "2013-01-01 05:00:00" "2013-01-01 05:00:00" ...

In [8]:
glimpse(vuelos) #similar al str() pero entrega los datos en otro formato

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <int> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <int> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <int> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <int> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <int> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <int> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <chr> "2013-01-01 05:00:00", "2013-01-01 05:00:00", "2013-01-…

## 4. Funciones básicas de dplyr

A continuación exploraremos los datos de vuelos utilizando la librería dplyr.

### 4.1 Función filter()

La función filter() de dplyr es el equivalente a la sentencia where de sql.

In [9]:
# filter() # where de sql----------------------------------------------------------------
# Registros que tengan fecha 31 de diciembre
# Antes
# Ahora
head(vuelos[vuelos$month == 12 & vuelos$day == 31,])

#pero se puede hacer más fácil con filter
head(filter(vuelos, month==12 & day == 31))

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
110521 2013 12    31   13      2359            14       439       437
110522 2013 12    31   18      2359            19       449       444
110523 2013 12    31   26      2245           101       129      2353
110524 2013 12    31  459       500            -1       655       651
110525 2013 12    31  514       515            -1       814       812
110526 2013 12    31  549       551            -2       925       900
       arr_delay carrier flight tailnum origin dest air_time distance hour
110521  2        B6       839   N566JB  JFK    BQN  189      1576     23
110522  5        DL       412   N713TW  JFK    SJU  192      1598     23
110523 96        B6       108   N374JB  JFK    PWM   50       273     22
110524  4        US      1895   N557UW  EWR    CLT   95       529      5
110525  2        UA       700   N470UA  EWR    IAH  223      1400      5
110526 25        UA       274   N577UA  EWR    LAX  346      2454      5
       minute time_hour
110521 59     2013-12-31 23:00:00
110522 59     2013-12-31 23:00:00
110523 45     2013-12-31 22:00:00
110524  0     2013-12-31 05:00:00
110525 15     2013-12-31 05:00:00
110526 51     2013-12-31 05:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 12    31   13      2359            14       439       437
2 2013 12    31   18      2359            19       449       444
3 2013 12    31   26      2245           101       129      2353
4 2013 12    31  459       500            -1       655       651
5 2013 12    31  514       515            -1       814       812
6 2013 12    31  549       551            -2       925       900
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  2        B6       839   N566JB  JFK    BQN  189      1576     23   59
2  5        DL       412   N713TW  JFK    SJU  192      1598     23   59
3 96        B6       108   N374JB  JFK    PWM   50       273     22   45
4  4        US      1895   N557UW  EWR    CLT   95       529      5    0
5  2        UA       700   N470UA  EWR    IAH  223      1400      5   15
6 25        UA       274   N577UA  EWR    LAX  346      2454      5   51
  time_hour
1 2013-12-31 23:00:00
2 2013-12-31 23:00:00
3 2013-12-31 22:00:00
4 2013-12-31 05:00:00
5 2013-12-31 05:00:00
6 2013-12-31 05:00:00

### 4.2 Función count()

Como su nombre lo indica, esta función nos permite contar registros de una tabla. Es de suma utilidad cuando se utiliza dentro de agrupaciones de tablas. Estas últimas las veremos más adelante. 

Alternativamente, en la librería _dplyr_, contamos con la función `N()` la cual también retorna el conteo de registros.

In [10]:
# count() y N() ----------------------------------------------------------------
count(vuelos, month, day)

# ¿Cuántos vuelos hay registrados para el 25 de dic?¿y el primero de enero?
filter(count(vuelos, month, day), month == 12, day == 25)

    month day n
1   1      1  842
2   1      2  943
3   1      3  914
4   1      4  915
5   1      5  720
6   1      6  832
7   1      7  933
8   1      8  899
9   1      9  902
10  1     10  932
11  1     11  930
12  1     12  690
13  1     13  828
14  1     14  928
15  1     15  894
16  1     16  901
17  1     17  927
18  1     18  924
19  1     19  674
20  1     20  786
21  1     21  912
22  1     22  890
23  1     23  897
24  1     24  925
25  1     25  922
26  1     26  680
27  1     27  823
28  1     28  923
29  1     29  890
30  1     30  900
⋮   ⋮     ⋮   ⋮
336 12     2  1004
337 12     3   973
338 12     4   958
339 12     5   969
340 12     6   970
341 12     7   691
342 12     8   875
343 12     9   962
344 12    10   943
345 12    11   954
346 12    12   968
347 12    13   970
348 12    14   692
349 12    15   880
350 12    16   964
351 12    17   949
352 12    18   956
353 12    19   974
354 12    20   980
355 12    21   811
356 12    22   895
357 12    23   985
358 12    24   761
359 12    25   719
360 12    26   936
361 12    27   963
362 12    28   814
363 12    29   888
364 12    30   968
365 12    31   776

  month day n
1 12    25  719

In [ ]:
#si quisiéramos guardar resgidtros en el disco, una manera es usando write.csv()
aux <- count(vuelos, month, day)
write.csv(aux, "vuelos_dia.csv")

In [ ]:
# ¿Cuántos vuelos hay registrados entre noviembre y diciembre?¿A qué porcentaje del total corresponde?

In [11]:
# ¿Qué porcentaje de vuelos tienen un retraso  (de salida o llegada) mayor a una hora?
nrow(filter(vuelos, dep_delay > 60 | arr_delay > 60)) / nrow(vuelos) *100
#columnas arr_delay o dep_delay

[1] 9.414269

In [ ]:
# ¿Cuántos vuelos llegaron con al menos dos horas de retraso pero no se retrasaron al partir?

### 4.3 Función arrange()

Esta función nos permite ordernar registros basándose en la indexación de alguna columna. Es el equivalente a la sentencia `order by` en sql. 
Esta función recibe como argumento principal un dataset a ordenar, y los nombres de las columnas por las cuales se quiere ordenar. Para más información consultar la ayuda de esta función (?arrange)

In [12]:
# arrange() ----------------------------------------------------------------
# Ejemplo, podemos ordenar la data flights por mes y arr_delay
arrange(vuelos, month, arr_delay)

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1      4  1026     1030            -4       1305     1415
2      2013 1      3   941      945            -4       1153     1258
3      2013 1     14  1840     1845            -5       2117     2221
4      2013 1      3  1153     1200            -7       1442     1545
5      2013 1      3  1228     1235            -7       1503     1606
6      2013 1     27  1845     1850            -5       2110     2212
7      2013 1      3  1605     1610            -5       1816     1917
8      2013 1      3  1857     1900            -3       2200     2301
9      2013 1      4  1219     1221            -2       1454     1555
10     2013 1      6   812      819            -7       1102     1203
11     2013 1     12   913      920            -7       1347     1448
12     2013 1      3  1920     1920             0       2158     2258
13     2013 1      2   654      700            -6        946     1045
14     2013 1      3  1626     1630            -4       1853     1952
15     2013 1     27  1839     1845            -6       2038     2137
16     2013 1     26  1651     1659            -8       1946     2044
17     2013 1      2   857      900            -3       1130     1227
18     2013 1      3  1957     1945            12       2232     2329
19     2013 1      4   650      655            -5        933     1030
20     2013 1      4   829      830            -1       1113     1210
21     2013 1      4  1657     1700            -3       1952     2049
22     2013 1     30  1915     1915             0       2133     2230
23     2013 1      3  1806     1810            -4       2036     2132
24     2013 1      3  1919     1920            -1       2219     2315
25     2013 1     14  1838     1850           -12       2116     2212
26     2013 1      2  1240     1245            -5       1521     1616
27     2013 1      4  1118     1130           -12       1350     1445
28     2013 1      8  1847     1850            -3       2117     2212
29     2013 1     11  1845     1850            -5       2117     2212
30     2013 1     13   723      730            -7       1020     1115
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 12    30    NA     1635           NA         NA      1825
336748 2013 12    30    NA      600           NA         NA       855
336749 2013 12    30    NA     1430           NA         NA      1626
336750 2013 12    30    NA     1350           NA         NA      1602
336751 2013 12    30    NA     1452           NA         NA      1559
336752 2013 12    30    NA     1935           NA         NA      2055
336753 2013 12    30    NA     1011           NA         NA      1134
336754 2013 12    30    NA      605           NA         NA       723
336755 2013 12    30    NA     1505           NA         NA      1759
336756 2013 12    30    NA     1355           NA         NA      1535
336757 2013 12    30    NA     2100           NA         NA        48
336758 2013 12    30    NA     1221           NA         NA      1545
336759 2013 12    30    NA      855           NA         NA      1142
336760 2013 12    31  2155     2039           76        253      2355
336761 2013 12    31    NA     1520           NA         NA      1705
336762 2013 12    31    NA     2025           NA         NA      2205
336763 2013 12    31    NA     1932           NA         NA      2305
336764 2013 12    31    NA     1505           NA         NA      1725
336765 2013 12    31    NA     1000           NA         NA      1252
336766 2013 12    31    NA      840           NA         NA      1205
336767 2013 12    31    NA      754           NA         NA      1118
336768 2013 12    31    NA     2000           NA         NA      2146
336769 2013 12    31    NA     1500           NA         NA      1817
336770 2013 12    31    NA     1430           NA         NA      1750
336771 2013 12    31    NA      855           NA         NA      1142
336772 2013 12    31    NA      705           NA         NA       931
336773 2013 12    31    NA      825           NA         NA      1029
336774 2013 12    31    NA     1615           NA         NA      1800
336775 2013 12    31    NA      600           NA         NA       735
336776 2013 12    31    NA      830           NA         NA      1154
       arr_delay carrier flight tailnum origin dest air_time distance hour
1      -70       VX        23   N855VA  JFK    SFO  324      2586     10
2      -65       B6       679   N789JB  JFK    LAX  297      2475      9
3      -64       DL      2190   N324US  JFK    MIA  146      1089     18
4      -63       VX        25   N847VA  JFK    SFO  333      2586     12
5      -63       DL      2174   N389DA  JFK    SLC  260      1990     12
6      -62       DL      2159   N398DA  JFK    MCO  127       944     18
7      -61       DL        91   N3740C  JFK    LAS  282      2248     16
8      -61       DL      1465   N722TW  JFK    SFO  329      2586     19
9      -61       UA       551   N830UA  EWR    SFO  313      2565     12
10     -61       UA       665   N805UA  EWR    SFO  336      2565      8
11     -61       DL       675   N711ZX  JFK    STT  181      1623      9
12     -60       DL         6   N3768   JFK    SLC  250      1990     19
13     -59       DL      1865   N711ZX  JFK    SFO  323      2586      7
14     -59       B6       675   N652JB  JFK    LAX  301      2475     16
15     -59       9E      3369   N919XJ  JFK    MSY  166      1182     18
16     -58       9E      3375   N930XJ  JFK    SAT  214      1587     16
17     -57       DL       120   N710TW  JFK    LAX  310      2475      9
18     -57       B6       645   N793JB  JFK    SFO  315      2586     19
19     -57       DL      1415   N397DA  JFK    SLC  265      1990      6
20     -57       UA      1480   N36207  EWR    SFO  326      2565      8
21     -57       DL        31   N722TW  JFK    SFO  326      2586     17
22     -57       DL      1729   N3754A  JFK    LAS  294      2248     19
23     -56       B6       217   N559JB  JFK    LGB  293      2465     18
24     -56       DL      1345   N3769L  JFK    PHX  273      2153     19
25     -56       DL      2159   N384DA  JFK    MCO  135       944     18
26     -55       DL      2174   N3751B  JFK    SLC  264      1990     12
27     -55       UA       703   N512UA  JFK    LAX  309      2475     11
28     -55       DL      2159   N386DA  JFK    MCO  132       944     18
29     -55       DL      2159   N3768   JFK    MCO  125       944     18
30     -55       VX        11   N841VA  JFK    SFO  339      2586      7
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747 NA        AA       343   N4XVAA  LGA    ORD  NA        733     16
336748 NA        B6       605   N708JB  EWR    FLL  NA       1065      6
336749 NA        EV      4261   N27200  LGA    CLE  NA        419     14
336750 NA        EV      4193   N36915  EWR    MSP  NA       1008     13
336751 NA        EV      4372   N14573  EWR    DCA  NA        199     14
336752 NA        EV      5714   N832AS  JFK    IAD  NA        228     19
336753 NA        EV      6054   N16919  EWR    IAD  NA        212     10
336754 NA        EV      6177   N13553  EWR    IAD  NA        212      6
336755 NA        UA       321   NA      EWR    MCO  NA        937     15
336756 NA        MQ      3305   N821MQ  LGA    RDU  NA        431     13
336757 NA        UA      1081   NA      EWR    SFO  NA       2565     21
336758 NA        UA      1297   NA      EWR    SNA  NA       2434     12
336759 NA        UA      1506   NA      EWR    JAC  NA       1874      8
336760 NA        B6      1205   N627JB  JFK    PDX  NA       2454     20
336761 NA        AA       341   N568AA  LGA    ORD  NA        733     15
336762 NA        AA       371   N482AA  LGA    ORD  NA        733     20
336763 NA        B6       161   N516JB  JFK    SMF  NA       2521     19
336764 NA        EV      4181   N24103  EWR    MCI  NA       1092     15
336765 NA        UA      1124   NA      EWR    EGE  NA       1725     10
336766 NA        UA      1151   NA      EWR    SEA  NA       2402      8
336767 NA        UA      1455   NA      EWR    LAX  NA       2454      7
336768 NA        UA      1482   NA      EWR    ORD  NA        719     20
336769 NA        UA      1483   NA      EWR    AUS  NA       1504     15
336770 NA        UA      1493   NA      EWR    LAX  NA       2454     14
336771 NA        UA      1506   NA      EWR    JAC  NA       1874      8
336772 NA        UA      1729   NA      EWR    DEN  NA       1605      7
336773 NA        US      1831   NA      JFK    CLT  NA        541      8
336774 NA        MQ      3301   N844MQ  LGA    RDU  NA        431     16
336775 NA        UA       219   NA      EWR    ORD  NA        719      6
336776 NA        UA       443   NA      JFK    LAX  NA       2475      8
       minute time_hour
1      30     2013-01-04 10:00:00
2      45     2013-01-03 09:00:00
3      45     2013-01-14 18:00:00
4       0     2013-01-03 12:00:00
5      35     2013-01-03 12:00:00
6      50     2013-01-27 18:00:00
7      10     2013-01-03 16:00:00
8       0     2013-01-03 19:00:00
9      21     2013-01-04 12:00:00
10     19     2013-01-06 08:00:00
11     20     2013-01-12 09:00:00
12     20     2013-01-03 19:00:00
13      0     2013-01-02 07:00:00
14     30     2013-01-03 16:00:00
15     45     2013-01-27 18:00:00
16     59     2013-01-26 16:00:00
17      0     2013-01-02 09:00:00
18     45     2013-01-03 19:00:00
19     55     2013-01-04 06:00:00
20     30     2013-01-04 08:00:00
21      0     2013-01-04 17:00:00
22     15     2013-01-30 19:00:00
23     10     2013-01-03 18:00:00
24     20     2013-01-03 19:00:00
25     50     2013-01-14 18:00:00
26     45     2013-01-02 12:00:00
27     30     2013-01-04 11:00:00
28     50     2013-01-08 18:00:00
29     50     2013-01-11 18:00:00
30     30     2013-01-13 07:00:00
⋮      ⋮      ⋮
336747 35     2013-12-30 16:00:00
336748  0     2013-12-30 06:00:00
336749 30     2013-12-30 14:00:00
336750 50     2013-12-30 13:00:00
336751 52     2013-12-30 14:00:00
336752 35     2013-12-30 19:00:00
336753 11     2013-12-30 10:00:00
336754  5     2013-12-30 06:00:00
336755  5     2013-12-30 15:00:00
336756 55     2013-12-30 13:00:00
336757  0     2013-12-30 21:00:00
336758 21     2013-12-30 12:00:00
336759 55     2013-12-30 08:00:00
336760 39     2013-12-31 20:00:00
336761 20     2013-12-31 15:00:00
336762 25     2013-12-31 20:00:00
336763 32     2013-12-31 19:00:00
336764  5     2013-12-31 15:00:00
336765  0     2013-12-31 10:00:00
336766 40     2013-12-31 08:00:00
336767 54     2013-12-31 07:00:00
336768  0     2013-12-31 20:00:00
336769  0     2013-12-31 15:00:00
336770 30     2013-12-31 14:00:00
336771 55     2013-12-31 08:00:00
336772  5     2013-12-31 07:00:00
336773 25     2013-12-31 08:00:00
336774 15     2013-12-31 16:00:00
336775  0     2013-12-31 06:00:00
336776 30     2013-12-31 08:00:00

### 4.3 Funciones select() y rename()

La con la función `select` podemos seleccionar un subconjunto de columas de la tabla original. A difernecia de SQL en esta sentencia no podremos crear nuevas columnas, sólo renombrarlas en algunos casos. Notar que (obviamente) no se mantienen las columnas que no ingresan como argumento a la función.

La función rename() permite renombrar columnas existentes, manteniendo las columnas que no se están renombrando.

In [13]:
# select() y rename() ----------------------------------------------------------------
# Ejemplo: Podemos seleccionar las columnas year, month, day, origin, dest
head(select(vuelos, year, month))
# Cómo lo haríamos con la sintaxis básica? (recorr como acceder a través del nombre a un vector, matrix, lista, o data.frame)

  year month
1 2013 1
2 2013 1
3 2013 1
4 2013 1
5 2013 1
6 2013 1

In [14]:
# podemos renombrar la columna year
head(rename(vuelos, anho = year))

# NOTA: esto no modifica el dataset original

  anho month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
#Existe gran variedad (pueden consultar la documentación respectiva)  de otras funciones dentro del package dplyr, por ejemplo: Seleccionar solo las variables que comiencen con "d"
# para su estudio

### 4.4 Función mutate()

Una de las funciones más útiles de dplyr es la función mutate(), la cual permite crear nuevas columnas, o modificar las existentes.

In [15]:
# mutate() ----------------------------------------------------------------
# Crear una nueva columna llamada retraso_neto, que contenga la suma de arr_delay y dep_delay

#antes
vuelos[['retraso_neto']] <- vuelos$arr_delay + vuelos$dep_delay
head(vuelos)
#ahora
head(mutate(vuelos, retraso_neto2 = arr_delay + dep_delay))
# Recordar que esta nueva columna solo existe en la ejecución y no se ha modificado el dataset original.

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           retraso_neto
1 2013-01-01 05:00:00  13
2 2013-01-01 05:00:00  24
3 2013-01-01 05:00:00  35
4 2013-01-01 05:00:00 -19
5 2013-01-01 06:00:00 -31
6 2013-01-01 05:00:00   8

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier ⋯ tailnum origin dest air_time distance hour minute
1  11       UA      ⋯ N14228  EWR    IAH  227      1400     5    15
2  20       UA      ⋯ N24211  LGA    IAH  227      1416     5    29
3  33       AA      ⋯ N619AA  JFK    MIA  160      1089     5    40
4 -18       B6      ⋯ N804JB  JFK    BQN  183      1576     5    45
5 -25       DL      ⋯ N668DN  LGA    ATL  116       762     6     0
6  12       UA      ⋯ N39463  EWR    ORD  150       719     5    58
  time_hour           retraso_neto retraso_neto2
1 2013-01-01 05:00:00  13           13
2 2013-01-01 05:00:00  24           24
3 2013-01-01 05:00:00  35           35
4 2013-01-01 05:00:00 -19          -19
5 2013-01-01 06:00:00 -31          -31
6 2013-01-01 05:00:00   8            8

In [ ]:
# Primero defina una nueva data llamada muestra_fl que contenga la fecha, los retrasos, la distancia, y el tiempo de vuelo
# Cree una columna llamada gain que contenga la diferenecia entre arr_delay y dep_delay, y otra llamada speed que mida la velocidad en horas (distancia / tiempo de vuelo * 60)

### Operador %>% 

El operador estrella de dplyr. Funciona como una composición de funciones, y nos permite generar _pipe-lines_, permitiendo  que la generación  del código sea más ordenada, y con ello, su lectura más sencilla.

Este operdaor actua de la sifuiente manera, <br>

    x %>% f(y) , es equivalente a,  f(x,y)

In [16]:
# Operador %>% ----------------------------------------------------------------
# Ejemplo sencillo 


# head(vuelos)
head(vuelos, 4)

# Utilizando %>%
vuelos %>% head(4)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
  time_hour           retraso_neto
1 2013-01-01 05:00:00  13
2 2013-01-01 05:00:00  24
3 2013-01-01 05:00:00  35
4 2013-01-01 05:00:00 -19

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
  time_hour           retraso_neto
1 2013-01-01 05:00:00  13
2 2013-01-01 05:00:00  24
3 2013-01-01 05:00:00  35
4 2013-01-01 05:00:00 -19

In [17]:
# Genere el conteo de vuelos por mes y día,
# luego filtre por aquellos registros donde el día es 1,
# ordene de manera descendiente por n,
# finalmente muestra la cabecera del dataset resultante.

## ANTES
head(arrange(filter(count(vuelos, month, day), day == 1), desc(n)))

  month day n
1  8    1   1000
2 12    1    987
3 11    1    986
4  4    1    970
5  7    1    966
6 10    1    965

In [18]:
# Genere el conteo de vuelos por mes y día,
# luego filtre por aquellos registros donde el día es 1,
# ordene de manera descendiente por n,
# finalmente muestra la cabecera del dataset resultante.

## AHORA
vuelos %>% 
  count(month, day) %>% 
  filter(day == 1) %>% 
  arrange(desc(n)) %>% 
  head()

  month day n
1  8    1   1000
2 12    1    987
3 11    1    986
4  4    1    970
5  7    1    966
6 10    1    965

In [ ]:
# A la consulta anterior podríamos agregar una nueva columna indicando si el totalde vuelos es mayor a 970

In [ ]:
# Genere una nueva variable llamada day2 que pegue un "0" 
# a la variable day si es que esta contiene un dígito del 1 al 9.
# Para pegar cadena de caracteres sin espacios puede utilizar 
# la función paste0

#?paste0, ?nchar

In [ ]:
# Con esta variable genere un entero llamado fecha, que concatena year,month y day 2.

### 4.5 Función group_by() y summarise()

La función `summarise()` calcula medidas agregadas sobre columnas, mientras que la función `group_by`, genera un data.frame "en bloques" dados por la(s) columna(s) ingresadas como parámetros en la función.

In [19]:
# group_by() y summarise() ----------------------------------------------------------------
# Ejemplo sencillo
exam2 <- data.frame(
  x = c(1:5),
  y = c(7:11),
  z = c("A", "B", "A", "B", "C")
)
exam2

  x y  z
1 1  7 A
2 2  8 B
3 3  9 A
4 4 10 B
5 5 11 C

In [22]:
exam2 %>% 
  mutate(w = sum(x))

  x y  z w
1 1  7 A 15
2 2  8 B 15
3 3  9 A 15
4 4 10 B 15
5 5 11 C 15

In [21]:
exam2 %>% 
  group_by(z) %>%
  mutate(w = sum(x))

  x y  z w
1 1  7 A 4
2 2  8 B 6
3 3  9 A 4
4 4 10 B 6
5 5 11 C 5

In [ ]:
# Podemos generar un número de fila por cada grupo

In [26]:
# 1) Aplicar la función summarise a la columna 'y' y calcular su promedio
exam2 %>%
  summarise(tot_y = sum(y))

# 2) Generar grupos según la variable z. (a diferencia de sql, el comando group_by() no requiere de una medida agregada para que este funcione.)
# select z, avg(x) mean_x, sum(x) tot_x from exam2 group by z
exam2 %>%
  group_by(z) %>%
  summarise(tot_y = sum(y))

  tot_y
1 45

  z tot_y
1 A 16
2 B 18
3 C 11

In [ ]:
# 3) Calcular media de x e y en cada valor de z.
# podemos calcular máximos y mínimos

In [31]:
# promedio de retraso de llegada por origen-destino
vuelos %>%
  group_by(origin, dest) %>%
  summarise(mean(arr_delay, na.rm= T)) %>%
  head()

`summarise()` has grouped output by 'origin'. You can override using the
`.groups` argument.

  origin dest mean(arr_delay, na.rm = T)
1 EWR    ALB  14.3971292
2 EWR    ANC  -2.5000000
3 EWR    ATL  13.2331829
4 EWR    AUS  -0.4743992
5 EWR    AVL   8.8047809
6 EWR    BDL   7.0485437

In [ ]:
# ¿Cuáles son los aeropuertos de destino con mayor retraso medio en su llegada?

In [ ]:
# los podemos remover mediante el argumento na.rm de la función mean()

In [33]:
# si quisiéramos tratar los NA's, podemos hacerlo de la sgte. manera

#consultamos los NA en arr_delay
vuelos %>%
  filter(is.na(arr_delay))
  
# Recordar que NA == NA retorna NA . is.na(NA) retorna TRUE

     year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1    2013 1     1   1525     1530            -5       1934     1805
2    2013 1     1   1528     1459            29       2002     1647
3    2013 1     1   1740     1745            -5       2158     2020
4    2013 1     1   1807     1738            29       2251     2103
5    2013 1     1   1939     1840            59         29     2151
6    2013 1     1   1952     1930            22       2358     2207
7    2013 1     1   2016     1930            46         NA     2220
8    2013 1     1     NA     1630            NA         NA     1815
9    2013 1     1     NA     1935            NA         NA     2240
10   2013 1     1     NA     1500            NA         NA     1825
11   2013 1     1     NA      600            NA         NA      901
12   2013 1     2    905      822            43       1313     1045
13   2013 1     2   1125      925           120       1445     1146
14   2013 1     2   1848     1840             8       2333     2151
15   2013 1     2   1849     1724            85       2235     1938
16   2013 1     2   1927     1930            -3       2359     2306
17   2013 1     2   2041     2045            -4         NA     2359
18   2013 1     2   2145     2129            16         NA       33
19   2013 1     2     NA     1540            NA         NA     1747
20   2013 1     2     NA     1620            NA         NA     1746
21   2013 1     2     NA     1355            NA         NA     1459
22   2013 1     2     NA     1420            NA         NA     1644
23   2013 1     2     NA     1321            NA         NA     1536
24   2013 1     2     NA     1545            NA         NA     1910
25   2013 1     2     NA     1330            NA         NA     1640
26   2013 1     2     NA     1601            NA         NA     1735
27   2013 1     3   1025     1032            -7       1521     1240
28   2013 1     3   1348     1350            -2       1821     1628
29   2013 1     3   1904     1659           125       2327     2046
30   2013 1     3   1928     1928             0         19     2129
⋮    ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
9401 2013 9     25    NA     1655            NA         NA     1840
9402 2013 9     25    NA     1559            NA         NA     1719
9403 2013 9     26  1331     1329             2       1923     1813
9404 2013 9     26    NA      915            NA         NA     1141
9405 2013 9     26    NA     1400            NA         NA     1512
9406 2013 9     26    NA     1240            NA         NA     1525
9407 2013 9     27  1332     1329             3       1629     1509
9408 2013 9     27  2253     1945           188         NA     2146
9409 2013 9     27    NA      600            NA         NA      730
9410 2013 9     27    NA     2100            NA         NA     2211
9411 2013 9     27    NA     1329            NA         NA     1444
9412 2013 9     27    NA     1600            NA         NA     1739
9413 2013 9     28   555      600            -5        953      753
9414 2013 9     28   847      839             8       1130      959
9415 2013 9     28  1010     1020           -10       1344     1222
9416 2013 9     28  1214     1225           -11       1801     1510
9417 2013 9     28    NA     1803            NA         NA     1927
9418 2013 9     28    NA      910            NA         NA     1220
9419 2013 9     28    NA     1635            NA         NA     1827
9420 2013 9     29  1734     1711            23       2159     2020
9421 2013 9     29    NA     2054            NA         NA     2302
9422 2013 9     29    NA     1830            NA         NA     2010
9423 2013 9     29    NA      700            NA         NA      833
9424 2013 9     30   559      600            -1         NA      715
9425 2013 9     30    NA     1842            NA         NA     2019
9426 2013 9     30    NA     1455            NA         NA     1634
9427 2013 9     30    NA     2200            NA         NA     2312
9428 2013 9     30    NA     1210            NA         NA     1330
9429 2013 9     30    NA     1159            NA         NA     1344
9430 2013 9     30    NA      840            NA         NA     1020
     arr_delay carrier flight tailnum origin dest air_time distance hour minute
1    NA        MQ      4525   N719MQ  LGA    XNA  NA       1147     15   30
2    NA        EV      3806   N17108  EWR    STL  NA        872     14   59
3    NA        MQ      4413   N739MQ  LGA    XNA  NA       1147     17   45
4    NA        UA      1228   N31412  EWR    SAN  NA       2425     17   38
5    NA        9E      3325   N905XJ  JFK    DFW  NA       1391     18   40
6    NA        EV      4333   N11194  EWR    TUL  NA       1215     19   30
7    NA        EV      4204   N14168  EWR    OKC  NA       1325     19   30
8    NA        EV      4308   N18120  EWR    RDU  NA        416     16   30
9    NA        AA       791   N3EHAA  LGA    DFW  NA       1389     19   35
10   NA        AA      1925   N3EVAA  LGA    MIA  NA       1096     15    0
11   NA        B6       125   N618JB  JFK    FLL  NA       1069      6    0
12   NA        EV      4140   N15912  EWR    XNA  NA       1131      8   22
13   NA        9E      3658   N8783E  LGA    GRR  NA        618      9   25
14   NA        9E      3325   N920XJ  JFK    DFW  NA       1391     18   40
15   NA        EV      4321   N14998  EWR    MCI  NA       1092     17   24
16   NA        9E      3401   N908XJ  JFK    SAT  NA       1587     19   30
17   NA        B6       147   N630JB  JFK    RSW  NA       1074     20   45
18   NA        UA      1299   N12221  EWR    RSW  NA       1068     21   29
19   NA        EV      4352   N10575  EWR    CVG  NA        569     15   40
20   NA        EV      4406   N13949  EWR    PIT  NA        319     16   20
21   NA        EV      4434   N10575  EWR    MHT  NA        209     13   55
22   NA        EV      4935   N759EV  EWR    ATL  NA        746     14   20
23   NA        EV      3849   N13550  EWR    IND  NA        645     13   21
24   NA        AA       133   NA      JFK    LAX  NA       2475     15   45
25   NA        AA       753   N3FBAA  LGA    DFW  NA       1389     13   30
26   NA        UA       623   NA      EWR    ORD  NA        719     16    1
27   NA        EV      4255   N34110  EWR    CHS  NA        628     10   32
28   NA        DL      1705   N324NB  LGA    MSY  NA       1183     13   50
29   NA        9E      3375   N916XJ  JFK    SAT  NA       1587     16   59
30   NA        EV      4532   N14171  EWR    CHS  NA        628     19   28
⋮    ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮    ⋮
9401 NA        MQ      3411   N735MQ  LGA    RDU  NA        431     16   55
9402 NA        MQ      3748   N530MQ  EWR    ORD  NA        719     15   59
9403 NA        UA        15   N67052  EWR    HNL  NA       4963     13   29
9404 NA        EV      5109   N748EV  LGA    CHS  NA        641      9   15
9405 NA        US      2183   NA      LGA    DCA  NA        214     14    0
9406 NA        WN      4720   N691WN  EWR    HOU  NA       1411     12   40
9407 NA        AA       331   N565AA  LGA    ORD  NA        733     13   29
9408 NA        EV      5306   N605QX  LGA    GSO  NA        461     19   45
9409 NA        AA       301   N584AA  LGA    ORD  NA        733      6    0
9410 NA        US      2164   NA      LGA    BOS  NA        184     21    0
9411 NA        MQ      3760   N505MQ  EWR    ORD  NA        719     13   29
9412 NA        UA       269   NA      LGA    ORD  NA        733     16    0
9413 NA        EV      5068   N133EV  EWR    DTW  NA        488      6    0
9414 NA        EV      4510   N14542  EWR    MKE  NA        725      8   39
9415 NA        EV      4412   N12175  EWR    DSM  NA       1017     10   20
9416 NA        AA       300   N488AA  EWR    DFW  NA       1372     12   25
9417 NA        EV      5563   N724EV  LGA    BTV  NA        258     18    3
9418 NA        AA         1   N320AA  JFK    LAX  NA       2475      9   10
9419 NA        US       581   NA      EWR    CLT  NA        529     16   35
9420 NA        UA       327   N463UA  EWR    PDX  NA       2434     17   11
9421 NA        EV      4536   N13988  EWR    CVG  NA        569     20   54
9422 NA        MQ      3134   N508MQ  EWR    ORD  NA        719     18   30
9423 NA        UA       331   NA      LGA    ORD  NA        733      7    0
9424 NA        WN       464   N411WN  EWR    MDW  NA        711      6    0
9425 NA        EV      5274   N740EV  LGA    BNA  NA        764     18   42
9426 NA        9E      3393   NA      JFK    DCA  NA        213     14   55
9427 NA        9E      3525   NA      LGA    SYR  NA        198     22    0
9428 NA        MQ      3461   N535MQ  LGA    BNA  NA        764     12   10
9429 NA        MQ      3572   N511MQ  LGA    CLE  NA        419     11   59
9430 NA        MQ      3531   N839MQ  LGA    RDU  NA        431      8   40
     time_hour           retraso_neto
1    2013-01-01 15:00:00 NA
2    2013-01-01 14:00:00 NA
3    2013-01-01 17:00:00 NA
4    2013-01-01 17:00:00 NA
5    2013-01-01 18:00:00 NA
6    2013-01-01 19:00:00 NA
7    2013-01-01 19:00:00 NA
8    2013-01-01 16:00:00 NA
9    2013-01-01 19:00:00 NA
10   2013-01-01 15:00:00 NA
11   2013-01-01 06:00:00 NA
12   2013-01-02 08:00:00 NA
13   2013-01-02 09:00:00 NA
14   2013-01-02 18:00:00 NA
15   2013-01-02 17:00:00 NA
16   2013-01-02 19:00:00 NA
17   2013-01-02 20:00:00 NA
18   2013-01-02 21:00:00 NA
19   2013-01-02 15:00:00 NA
20   2013-01-02 16:00:00 NA
21   2013-01-02 13:00:00 NA
22   2013-01-02 14:00:00 NA
23   2013-01-02 13:00:00 NA
24   2013-01-02 15:00:00 NA
25   2013-01-02 13:00:00 NA
26   2013-01-02 16:00:00 NA
27   2013-01-03 10:00:00 NA
28   2013-01-03 13:00:00 NA
29   2013-01-03 16:00:00 NA
30   2013-01-03 19:00:00 NA
⋮    ⋮                   ⋮
9401 2013-09-25 16:00:00 NA
9402 2013-09-25 15:00:00 NA
9403 2013-09-26 13:00:00 NA
9404 2013-09-26 09:00:00 NA
9405 2013-09-26 14:00:00 NA
9406 2013-09-26 12:00:00 NA
9407 2013-09-27 13:00:00 NA
9408 2013-09-27 19:00:00 NA
9409 2013-09-27 06:00:00 NA
9410 2013-09-27 21:00:00 NA
9411 2013-09-27 13:00:00 NA
9412 2013-09-27 16:00:00 NA
9413 2013-09-28 06:00:00 NA
9414 2013-09-28 08:00:00 NA
9415 2013-09-28 10:00:00 NA
9416 2013-09-28 12:00:00 NA
9417 2013-09-28 18:00:00 NA
9418 2013-09-28 09:00:00 NA
9419 2013-09-28 16:00:00 NA
9420 2013-09-29 17:00:00 NA
9421 2013-09-29 20:00:00 NA
9422 2013-09-29 18:00:00 NA
9423 2013-09-29 07:00:00 NA
9424 2013-09-30 06:00:00 NA
9425 2013-09-30 18:00:00 NA
9426 2013-09-30 14:00:00 NA
9427 2013-09-30 22:00:00 NA
9428 2013-09-30 12:00:00 NA
9429 2013-09-30 11:00:00 NA
9430 2013-09-30 08:00:00 NA

In [34]:
# Si queremos reemplazar los NA's por el promedio de arr_delay (?)
vuelos %>%
  mutate(nueva = ifelse(is.na(arr_delay),
                        6666666,
                        'OK'))

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 9     30  2123     2125            -2       2223     2247
336748 2013 9     30  2127     2129            -2       2314     2323
336749 2013 9     30  2128     2130            -2       2328     2359
336750 2013 9     30  2129     2059            30       2230     2232
336751 2013 9     30  2131     2140            -9       2225     2255
336752 2013 9     30  2140     2140             0         10       40
336753 2013 9     30  2142     2129            13       2250     2239
336754 2013 9     30  2145     2145             0        115      140
336755 2013 9     30  2147     2137            10         30       27
336756 2013 9     30  2149     2156            -7       2245     2308
336757 2013 9     30  2150     2159            -9       2250     2306
336758 2013 9     30  2159     1845           194       2344     2030
336759 2013 9     30  2203     2205            -2       2339     2331
336760 2013 9     30  2207     2140            27       2257     2250
336761 2013 9     30  2211     2059            72       2339     2242
336762 2013 9     30  2231     2245           -14       2335     2356
336763 2013 9     30  2233     2113            80        112       30
336764 2013 9     30  2235     2001           154         59     2249
336765 2013 9     30  2237     2245            -8       2345     2353
336766 2013 9     30  2240     2245            -5       2334     2351
336767 2013 9     30  2240     2250           -10       2347        7
336768 2013 9     30  2241     2246            -5       2345        1
336769 2013 9     30  2307     2255            12       2359     2358
336770 2013 9     30  2349     2359           -10        325      350
336771 2013 9     30    NA     1842            NA         NA     2019
336772 2013 9     30    NA     1455            NA         NA     1634
336773 2013 9     30    NA     2200            NA         NA     2312
336774 2013 9     30    NA     1210            NA         NA     1330
336775 2013 9     30    NA     1159            NA         NA     1344
336776 2013 9     30    NA      840            NA         NA     1020
       arr_delay carrier ⋯ tailnum origin dest air_time distance hour minute
1       11       UA      ⋯ N14228  EWR    IAH  227      1400     5    15
2       20       UA      ⋯ N24211  LGA    IAH  227      1416     5    29
3       33       AA      ⋯ N619AA  JFK    MIA  160      1089     5    40
4      -18       B6      ⋯ N804JB  JFK    BQN  183      1576     5    45
5      -25       DL      ⋯ N668DN  LGA    ATL  116       762     6     0
6       12       UA      ⋯ N39463  EWR    ORD  150       719     5    58
7       19       B6      ⋯ N516JB  EWR    FLL  158      1065     6     0
8      -14       EV      ⋯ N829AS  LGA    IAD   53       229     6     0
9       -8       B6      ⋯ N593JB  JFK    MCO  140       944     6     0
10       8       AA      ⋯ N3ALAA  LGA    ORD  138       733     6     0
11      -2       B6      ⋯ N793JB  JFK    PBI  149      1028     6     0
12      -3       B6      ⋯ N657JB  JFK    TPA  158      1005     6     0
13       7       UA      ⋯ N29129  JFK    LAX  345      2475     6     0
14     -14       UA      ⋯ N53441  EWR    SFO  361      2565     6     0
15      31       AA      ⋯ N3DUAA  LGA    DFW  257      1389     6     0
16      -4       B6      ⋯ N708JB  JFK    BOS   44       187     5    59
17      -8       UA      ⋯ N76515  EWR    LAS  337      2227     6     0
18      -7       B6      ⋯ N595JB  LGA    FLL  152      1076     6     0
19      12       MQ      ⋯ N542MQ  LGA    ATL  134       762     6     0
20      -6       B6      ⋯ N644JB  EWR    PBI  147      1023     6     0
21      -8       DL      ⋯ N971DL  LGA    MSP  170      1020     6    10
22      16       MQ      ⋯ N730MQ  LGA    DTW  105       502     6     5
23     -12       AA      ⋯ N633AA  EWR    MIA  152      1085     6    10
24      -8       DL      ⋯ N3739P  JFK    ATL  128       760     6    10
25     -17       UA      ⋯ N53442  EWR    MIA  157      1085     6     7
26      32       MQ      ⋯ N9EAMQ  EWR    ORD  139       719     6     0
27      14       UA      ⋯ N532UA  JFK    SFO  366      2586     6     0
28       4       B6      ⋯ N635JB  JFK    RSW  175      1074     6    10
29     -21       B6      ⋯ N794JB  JFK    SJU  182      1598     6    15
30      -9       DL      ⋯ N326NB  EWR    ATL  120       746     6    15
⋮      ⋮         ⋮       ⋱ ⋮       ⋮      ⋮    ⋮        ⋮        ⋮    ⋮
336747 -24       EV      ⋯ N712EV  LGA    CHO   45       305     21   25
336748  -9       EV      ⋯ N16546  EWR    CLT   72       529     21   29
336749 -31       B6      ⋯ N807JB  JFK    DEN  213      1626     21   30
336750  -2       EV      ⋯ N751EV  LGA    RIC   45       292     20   59
336751 -30       MQ      ⋯ N807MQ  JFK    DCA   36       213     21   40
336752 -30       AA      ⋯ N335AA  JFK    LAX  298      2475     21   40
336753  11       EV      ⋯ N12957  EWR    PWM   47       284     21   29
336754 -25       B6      ⋯ N633JB  JFK    SJU  192      1598     21   45
336755   3       B6      ⋯ N627JB  LGA    FLL  139      1076     21   37
336756 -23       UA      ⋯ N813UA  EWR    BOS   37       200     21   56
336757 -16       EV      ⋯ N10575  EWR    MHT   39       209     21   59
336758 194       9E      ⋯ N906XJ  JFK    BUF   50       301     18   45
336759   8       EV      ⋯ N722EV  LGA    BGR   61       378     22    5
336760   7       MQ      ⋯ N532MQ  LGA    BNA   97       764     21   40
336761  57       EV      ⋯ N12145  EWR    STL  120       872     20   59
336762 -21       B6      ⋯ N193JB  JFK    PWM   48       273     22   45
336763  42       UA      ⋯ N578UA  EWR    SFO  318      2565     21   13
336764 130       B6      ⋯ N804JB  JFK    MCO  123       944     20    1
336765  -8       B6      ⋯ N318JB  JFK    BTV   43       266     22   45
336766 -17       B6      ⋯ N354JB  JFK    SYR   41       209     22   45
336767 -20       B6      ⋯ N281JB  JFK    BUF   52       301     22   50
336768 -16       B6      ⋯ N346JB  JFK    ROC   47       264     22   46
336769   1       B6      ⋯ N565JB  JFK    BOS   33       187     22   55
336770 -25       B6      ⋯ N516JB  JFK    PSE  196      1617     23   59
336771  NA       EV      ⋯ N740EV  LGA    BNA   NA       764     18   42
336772  NA       9E      ⋯ NA      JFK    DCA   NA       213     14   55
336773  NA       9E      ⋯ NA      LGA    SYR   NA       198     22    0
336774  NA       MQ      ⋯ N535MQ  LGA    BNA   NA       764     12   10
336775  NA       MQ      ⋯ N511MQ  LGA    CLE   NA       419     11   59
336776  NA       MQ      ⋯ N839MQ  LGA    RDU   NA       431      8   40
       time_hour           retraso_neto nueva
1      2013-01-01 05:00:00  13          OK
2      2013-01-01 05:00:00  24          OK
3      2013-01-01 05:00:00  35          OK
4      2013-01-01 05:00:00 -19          OK
5      2013-01-01 06:00:00 -31          OK
6      2013-01-01 05:00:00   8          OK
7      2013-01-01 06:00:00  14          OK
8      2013-01-01 06:00:00 -17          OK
9      2013-01-01 06:00:00 -11          OK
10     2013-01-01 06:00:00   6          OK
11     2013-01-01 06:00:00  -4          OK
12     2013-01-01 06:00:00  -5          OK
13     2013-01-01 06:00:00   5          OK
14     2013-01-01 06:00:00 -16          OK
15     2013-01-01 06:00:00  30          OK
16     2013-01-01 05:00:00  -4          OK
17     2013-01-01 06:00:00  -9          OK
18     2013-01-01 06:00:00  -7          OK
19     2013-01-01 06:00:00  12          OK
20     2013-01-01 06:00:00  -5          OK
21     2013-01-01 06:00:00 -16          OK
22     2013-01-01 06:00:00  13          OK
23     2013-01-01 06:00:00 -16          OK
24     2013-01-01 06:00:00 -12          OK
25     2013-01-01 06:00:00 -17          OK
26     2013-01-01 06:00:00  40          OK
27     2013-01-01 06:00:00  25          OK
28     2013-01-01 06:00:00   7          OK
29     2013-01-01 06:00:00 -21          OK
30     2013-01-01 06:00:00  -9          OK
⋮      ⋮                   ⋮            ⋮
336747 2013-09-30 21:00:00 -26          OK
336748 2013-09-30 21:00:00 -11          OK
336749 2013-09-30 21:00:00 -33          OK
336750 2013-09-30 20:00:00  28          OK
336751 2013-09-30 21:00:00 -39          OK
336752 2013-09-30 21:00:00 -30          OK
336753 2013-09-30 21:00:00  24          OK
336754 2013-09-30 21:00:00 -25          OK
336755 2013-09-30 21:00:00  13          OK
336756 2013-09-30 21:00:00 -30          OK
336757 2013-09-30 21:00:00 -25          OK
336758 2013-09-30 18:00:00 388          OK
336759 2013-09-30 22:00:00   6          OK
336760 2013-09-30 21:00:00  34          OK
336761 2013-09-30 20:00:00 129          OK
336762 2013-09-30 22:00:00 -35          OK
336763 2013-09-30 21:00:00 122          OK
336764 2013-09-30 20:00:00 284          OK
336765 2013-09-30 22:00:00 -16          OK
336766 2013-09-30 22:00:00 -22          OK
336767 2013-09-30 22:00:00 -30          OK
336768 2013-09-30 22:00:00 -21          OK
336769 2013-09-30 22:00:00  13          OK
336770 2013-09-30 23:00:00 -35          OK
336771 2013-09-30 18:00:00  NA          6666666
336772 2013-09-30 14:00:00  NA          6666666
336773 2013-09-30 22:00:00  NA          6666666
336774 2013-09-30 12:00:00  NA          6666666
336775 2013-09-30 11:00:00  NA          6666666
336776 2013-09-30 08:00:00  NA          6666666

In [39]:
# ¿Cuál es el promedio de arr_delay y distance por cada aeropuerto de destino?¿Cuántos vuelos llegaron acada uno de los destinos?. Ayuda: Recuerde que el conteo se puede determinar de dos maneras: con la función count() o con la función n().
vuelos %>%
  group_by(dest) %>%
  summarise(avg_arr_delay = mean(arr_delay, na.rm=T),
            n()) %>% #número de filas por cada grupo
  head()

  dest avg_arr_delay n()
1 ABQ   4.381890       254
2 ACK   4.852273       265
3 ALB  14.397129       439
4 ANC  -2.500000         8
5 ATL  11.300113     17215
6 AUS   6.019909      2439

### 4.6 Función sample_n() y sample_frac()

Estas funciones nos permitirán extraer muestras aleatorias de nuestros conjuntos de datos. Esto será de suma importancia cuando trabajemos con modelos de ML.

In [40]:
# sample_n() y sample_frac()-------------------------------------------------------------

# muestra aleatoria de 100 registros de vuelos
?sample_frac()